<h3>{{ _('Inhaltsverzeichnis') }}</h3>
{{ toc }}
{% if parents %}
    {% if not (parents|last).link|e == pathto(master_doc) %}
        <a href="{{ (parents|last).link|e }}">
		Zurück zu "{{ (parents|last).title }}"</a><br/>
    {% endif %}
{% endif %}
<a href="{{ pathto(master_doc) }}">Zurück zur Startseite</a>
