html {
	position: relative;
	min-height: 100%;
}

div.body h1,
div.body h2,
div.body h3,
div.body h4,
div.body h5,
div.body h6 {
	text-align: left;
}

div.body {
	margin-bottom: 100px;
}

div.footer {
	position: absolute;
	text-align: center;
	margin: 100px 0 0 0;
	bottom: 20px;
}
